<!-- -->
<launch>
	<param name="use_sim_time" value="true"/>

	<node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find hector_nist_arena_worlds)/worlds/exp3.world" /> 

  	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient"/>

	<include file="$(find p3at_description)/launch/spawn_p3at.launch">
		<arg name="robot_name" value="rtg"/>
		<arg name="pose_args" value="-x -1.2 -y 0 -Y -1.57"/> 
	</include>

	<node name="keyboard_drive" pkg="proje" type="keyboard_cmdvel.py" output = "screen"/>

	<node name="gezinge" pkg="proje" type="trajectory"/>

	<node pkg="tf" type="static_transform_publisher" name="world2trajectory" args="0 0 0 0 0 0 /map /trajectory 100"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find proje)/rviz/proje.rviz"/>

	<!-- BU LAUNCH DOSYASINA BURDAN SONRA EKLEME YAPABILIRSINIZ -->


	<!-- BURAYA KADAR -->	
</launch>
