<!-- -->
<launch>
	<param name="use_sim_time" value="true"/>

	<node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find hector_nist_arena_worlds)/worlds/exp2.world" /> 

  	<node name="gazebo_gui" pkg="gazebo_ros" type="gzclient"/>

	<node name="exp2_random" pkg="odev3" type="exp2_random.py"/>

	<node name="exp2" pkg="odev3" type="exp2_autonomy"/>

	<node name="gezinge" pkg="odev3" type="trajectory"/>

	<node pkg="tf" type="static_transform_publisher" name="world2trajectory" args="0 0 0 0 0 0 /map /trajectory 100"/>

	<!-- BU LAUNCH DOSYASINA BURDAN SONRA EKLEME YAPABILIRSINIZ -->


	<include file="$(find odev3)/launch/nav.launch"/>

	<include file="$(find odev3)/launch/mapping.launch"/>

	<!-- BURAYA KADAR -->	
</launch>
