<launch>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <rosparam>
      odom_frame: /robot1/odom
      base_frame: /robot1/base_link
    </rosparam>
    <remap from="scan" to="/robot1/hokuyo"/>
  </node>

  <!-- <node pkg="tf" type="static_transform_publisher" name="map2base" args="0 0 0 0 0 0 /map /robot1/base_link 100"/>

	<node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 /map /robot1/odom 100"/> -->

	<!-- <node pkg="tf" type="static_transform_publisher" name="odom2base" args="0 0 0 0 0 0 /robot1/odom /robot1/base_link 100"/> -->
</launch>
